.global-span{
    margin-top: 70px;
    color: var(--colorpurple);
    text-transform: uppercase;
    display: block;
    text-align: center;
}   
.global-title{
    color: black;
    font-size: 44px;
    font-weight: 500;
    text-align: center;
}   