.BurguerMenur-father__container{
    display: flex;
    position: absolute;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    top: 0;
    width: 100vw;
    z-index: 10000000000000000000000000000000000;
}
.BurguerMenur-father__container .BurguerMenu-close{
    position: absolute;
    top: 15px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.22);
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s all;
}

.BurguerMenur-father__container .BurguerMenu-open{
    position: absolute;
    top: 15px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 560px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.379);
    border: 1px solid black;
    cursor: pointer;
    transition: .3s all;
}

.BurguerMenu-items{
    margin: 0px 15px;
    font-weight: 500;
    position: relative;
}

.BurguerMenu-items:hover::before{
    position: absolute;
    bottom: 0;
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--colorpurple);
    animation: widthLine .3s;
}

.Item-visit{
    color: var(--colorpurple);
    font-weight: 600;
}

@keyframes widthLine {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}