.main-father--container{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    overflow-x: auto;
}

.main-father--container > *{
    width: 100vw;
    flex: none;
    scroll-snap-align: center;
}