.main-father--container{
    display: flex;
    width: 100vw;
    height: 100vh;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 17px;
}
.main-father--container::-webkit-scrollbar {
    width: 8px;
    border-radius: 6px;
}
.main-father--container::-webkit-scrollbar-thumb {
    background-color: var(--colorpurple);
    border-radius: 6px;
  }
  
/* .main-father--container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */
.main-father--container > *{
    width: 100vw;
    flex: none;
    scroll-snap-align: center;
}